<!-- Basic HTML Structure -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My First Web Page</title>
</head>
<body>
    <form>
        <div class="container">
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="fname" required><br><br>

          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lname" required><br><br>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required><br><br>

          <label for="username"><b>User name</b></label>
          <input type="text" placeholder="Enter username" name="username" id="username" required><br><br>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="psw" required><br><br>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
          <hr>
          <br><br>
          
          <button type="submit" class="registerbtn">Register</button>
        </div>
      
        <div class="container signin">
          <p>Already have an account? <a href="/signIn">Sign in</a>.</p>
        </div>
      </form>
   
</body>
</html>