<!-- Basic HTML Structure -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My First Web Page</title>
</head>
<body>

    <form>
        <h1>sign In</h1>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd" required><br>
        <button type="submit" class="signInbtn">Sign in</button>
      </form>
</body>
</html>